<div class="card mt-2">
  <div class="card-body m-1">
    <div class="event-content">
      <h3> <%= event.title %> </h3>
      <h4><small><%= l event.starttime, format: :short %></small></h4>
      <div class="buffer-both"><%= event.description %></div>
      <div class="buffer-both"><%= event.location %></div>
      <div class="d-flex justify-content-end">
        <div class="edit-btn-container me-2"><%= button_to 'Редактировать', edit_event_path(event),
                                                           method: :get, class: "btn btn-sm btn-light edit-btn" %>
        </div>
        <div class="edit-btn-container"><%= button_to 'Удалить', event_path(event),
                                                      method: :delete, class: "btn btn-sm btn-light delete-btn" %></div>
      </div>

    </div>
  </div>
</div>
