<!DOCTYPE html>
<html>
<head>
  <title>CustomApp</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="container">
  <div class="row">
    <div class="col-sm-1 col-md-1">
    </div>

    <div class="col-sm-10 col-md-10">
    </div>

    <%= yield %>
  </div>
  <div class="col-sm-1 col-md-1">
  </div>
</div>
</body>
</html>
